# 0.0. IMPORTS

In [2]:
! pip install requests

Collecting requests
  Using cached requests-2.27.1-py2.py3-none-any.whl (63 kB)
Collecting charset-normalizer~=2.0.0
  Using cached charset_normalizer-2.0.12-py3-none-any.whl (39 kB)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\emanoel\anaconda3\envs\analise_de_dados\lib\site-packages (from requests) (2021.10.8)
Collecting urllib3<1.27,>=1.21.1
  Using cached urllib3-1.26.9-py2.py3-none-any.whl (138 kB)
Collecting idna<4,>=2.5
  Using cached idna-3.3-py3-none-any.whl (61 kB)
Installing collected packages: urllib3, idna, charset-normalizer, requests
Successfully installed charset-normalizer-2.0.12 idna-3.3 requests-2.27.1 urllib3-1.26.9

In [24]:
import requests
import pandas as pd
import numpy as np

from datetime import datetime
from bs4 import BeautifulSoup

In [5]:
url = 'https://www2.hm.com/en_us/men/products/jeans.html'

headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5), AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
           
page = requests.get( url, headers=headers )

In [6]:
 soup = BeautifulSoup( page.text, 'html.parser' )

In [7]:
products = soup.find( 'ul', class_='products-listing small' )

In [8]:
product_list = products.find_all( 'article', class_='hm-product-item')
# product id
product_id = [p.get( 'data-articlecode' ) for p in product_list]
# product category
product_category = [p.get( 'data-category' ) for p in product_list]

In [9]:
# product name
product_list = products.find_all( 'a', class_='link' )
product_name = [p.get_text() for p in product_list]

In [10]:
 # price
product_list = products.find_all( 'span', class_='price regular' )
product_price = [p.get_text() for p in product_list]

In [12]:
# product color

In [11]:
# product composition

In [22]:
data = pd.DataFrame( [product_id, product_category, product_name, product_price] ).T
data.columns = ['product_id', 'product_category', 'product_name','product_price']

# scrapy datetime
data['scrapy_datetime'] = datetime.now().strftime( '%Y-%m-%d %H:%M:%S' )

In [23]:
data.head()

,product_id,product_category,product_name,product_price,scrapy_datetime
0,1074475001,men_jeans_loose,Loose Jeans,$ 39.99,2022-06-01 04:45:13
1,1071707001,men_jeans_relaxed,Relaxed Jeans,$ 29.99,2022-06-01 04:45:13
2,1024256001,men_jeans_slim,Slim Jeans,$ 19.99,2022-06-01 04:45:13
3,0985159001,men_jeans_skinny,Skinny Jeans,$ 19.99,2022-06-01 04:45:13
4,1024256003,men_jeans_slim,Slim Jeans,$ 19.99,2022-06-01 04:45:13